/*  @font-face
 *      font-family: 'Athelas'
 *      font-style: normal
 *      font-weight: normal
 *      src: local('Athelas Regular'), url('../fonts/Athelas-Regular.woff') format('woff')
 *
 *  @font-face
 *      font-family: 'Athelas'
 *      font-style: italic
 *      font-weight: normal
 *      src: local('Athelas Italic'), url('../fonts/Athelas-Italic.woff') format('woff')
 *
 *  @font-face
 *      font-family: 'Athelas'
 *      font-style: normal
 *      font-weight: bold
 *      src: local('Athelas Bold'), url('../fonts/Athelas-Bold.woff') format('woff')
 *
 *  @font-face
 *      font-family: 'Athelas'
 *      font-style: italic
 *      font-weight: bold
 *      src: local('Athelas Bold Italic'), url('../fonts/Athelas-BoldItalic.woff') format('woff') */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans&display=swap");
body {
  margin: 0;
  background-color: #030C1C;
  color: white;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
@media screen and (min-width: 900px) {
  body {
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Crimson Text", serif;
}

.call {
  padding: 0 20px 0 2px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  margin-bottom: 15vw;
}
@media screen and (max-width: 899px) {
  .call {
    font-size: 8px;
  }
}
@media screen and (min-width: 900px) {
  .call {
    font-size: 14px;
  }
}

@media screen and (min-width: 900px) {
  .mobile {
    display: none;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  width: 100vw;
  padding: 30px 10vw;
}
header .navegacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 899px) {
  header .main-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -70%;
    height: 100vh;
    width: 70%;
    box-sizing: border-box;
    box-shadow: -3px 0 12px #00000026;
    overflow-y: scroll;
    overflow-x: visible;
    background-color: #FFFFFF;
    transition: right 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    padding: 30px 10vw;
  }
  header .main-menu:target {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    right: 0;
    outline: none;
  }
  header .main-menu li:first-child {
    padding-top: 3rem;
  }
}
header .main-menu ul {
  list-style: none;
}
@media screen and (min-width: 900px) {
  header .main-menu ul {
    margin: 0;
  }
}
@media screen and (max-width: 899px) {
  header .main-menu li {
    padding: 2rem 0 1rem 2rem;
  }
}
@media screen and (min-width: 900px) {
  header .main-menu li {
    float: left;
    padding-left: 3rem;
  }
}
header .main-menu a {
  text-decoration: none;
  float: right;
}
@media screen and (max-width: 899px) {
  header .main-menu a {
    color: #505050;
  }
}
@media screen and (min-width: 900px) {
  header .main-menu a {
    color: whitesmoke;
  }
}
header .main-menu li a {
  font-size: 0.9rem;
}
@media screen and (min-width: 900px) {
  header .menu-toggle, header .menu-close {
    display: none;
  }
}

@media screen and (max-width: 899px) {
  section, main {
    padding: 10vw;
  }
}
@media screen and (min-width: 900px) {
  section, main {
    padding: 5vw 10vw;
  }
}

@media screen and (max-width: 899px) {
  main h1 {
    text-align: center;
  }
}
main img {
  width: 100vw;
  margin-left: -10vw;
}
main p {
  text-align: justify;
}
main .equipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .equipe img {
  width: 40vw;
}
main .equipe .info {
  width: 40vh;
}

#inicio {
  padding: 0;
  /* Position the "next button" to the right */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
}
#inicio p {
  color: #FFB146;
  margin-top: 10px;
}
#inicio h1 {
  margin-bottom: 0;
}
#inicio .slideshow-container {
  position: relative;
}
#inicio .dots-container {
  position: absolute;
  top: 0;
  text-align: center;
}
#inicio .mySlides {
  display: none;
  overflow: hidden;
  height: 80vh;
}
@media screen and (max-width: 899px) {
  #inicio .mySlides img {
    height: 80vh;
  }
}
@media screen and (min-width: 900px) {
  #inicio .mySlides img {
    width: 100vw;
  }
}
#inicio .prev, #inicio .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  user-select: none;
  background-color: white;
  color: #39383C;
  border-radius: 50%;
  box-shadow: 0 0 10px #030C1C;
}
#inicio .next {
  right: 10vw;
}
#inicio .prev {
  left: 10vw;
}
#inicio .text {
  background-image: linear-gradient(to bottom, rgba(3, 12, 28, 0), #030C1C);
  color: #f2f2f2;
  position: absolute;
  bottom: 0;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 899px) {
  #inicio .text {
    font-size: 15px;
  }
}
@media screen and (min-width: 900px) {
  #inicio .text {
    font-size: 18px;
  }
}
#inicio .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
#inicio .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#inicio .active, #inicio .dot:hover {
  background-color: #717171;
}
#inicio .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#sobre {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#sobre .metade {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  height: 100%;
}
#sobre .metade:first-child {
  justify-content: space-between;
}
#sobre h1 {
  margin: 0;
}
@media screen and (max-width: 899px) {
  #sobre p {
    font-size: 12px;
  }
}
@media screen and (min-width: 900px) {
  #sobre p {
    line-height: 2rem;
  }
  #sobre .call {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 899px) {
  #sobre img {
    width: 48vw;
    margin-left: 4vw;
  }
}
@media screen and (min-width: 900px) {
  #sobre img {
    width: 100%;
  }
}

#areas {
  background-color: white;
  /* The Modal (background) */
  /* Modal Content */
  /* Add Animation */
}
@media screen and (min-width: 900px) {
  #areas .areas-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
#areas h1 {
  color: #030C1C;
}
#areas h2 {
  color: #030C1C;
  margin-bottom: 0;
}
@media screen and (min-width: 900px) {
  #areas h2 {
    font-size: 22px;
  }
}
#areas .area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  box-sizing: border-box;
}
@media screen and (max-width: 899px) {
  #areas .area {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  #areas .area {
    width: 24%;
  }
}
@media screen and (max-width: 899px) {
  #areas .area + .area {
    margin-top: 10px;
  }
}
#areas .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
#areas .card a {
  text-decoration: underline;
  color: #030C1C;
  font-size: 15px;
}
#areas .card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#areas .container {
  padding: 2px 16px;
}
#areas img {
  border: none;
  width: 70px;
}
#areas .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#areas .modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}
#areas .modal-header h2, #areas .modal-footer h3 {
  margin: 0;
}
#areas .modal-header {
  background: #FFFFFF;
  padding: 15px;
  color: #030C1C;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
#areas .modal-body {
  padding: 10px 20px;
  background: #fff;
  color: #030C1C;
}
#areas .close {
  color: #030C1C;
  float: right;
  font-size: 30px;
}
#areas .close:hover, #areas .close:focus {
  color: #030C1C;
  text-decoration: none;
  cursor: pointer;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 900px) {
  #contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 58vh;
  }
  #contato .metade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  #contato .metade:first-child {
    justify-content: space-between;
  }
}
#contato input {
  border: 1px solid white;
  width: 100%;
  background-color: #030C1C;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 40px;
  color: white;
}
@media screen and (max-width: 899px) {
  #contato input {
    padding-left: 5vw;
  }
}
@media screen and (min-width: 900px) {
  #contato input {
    padding-left: 3vw;
  }
}
#contato textarea {
  border: 1px solid white;
  width: 100%;
  background-color: #030C1C;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 160px;
  padding-top: 15px;
  color: white;
}
@media screen and (max-width: 899px) {
  #contato textarea {
    padding-left: 5vw;
  }
}
@media screen and (min-width: 900px) {
  #contato textarea {
    padding-left: 3vw;
  }
}
#contato input::placeholder, #contato textarea::placeholder {
  color: white;
}
#contato input[type=submit] {
  background-color: white;
  color: #030C1C;
  text-align: left;
}
@media screen and (min-width: 900px) {
  #contato form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

iframe {
  width: 100%;
  border: none;
}
@media screen and (max-width: 899px) {
  iframe {
    height: 30vh;
  }
}
@media screen and (min-width: 900px) {
  iframe {
    height: 60vh;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  width: 100vw;
  padding: 30px 10vw;
}
footer p {
  font-size: 15px;
}
footer p a {
  text-decoration: underline;
  color: white;
}

h1 {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
