@font-face
    font-family: 'Athelas'
    font-style: normal
    font-weight: normal
    src: local('Athelas Regular'), url('../fonts/Athelas-Regular.woff') format('woff')

@font-face
    font-family: 'Athelas'
    font-style: italic
    font-weight: normal
    src: local('Athelas Italic'), url('../fonts/Athelas-Italic.woff') format('woff')

@font-face
    font-family: 'Athelas'
    font-style: normal
    font-weight: bold
    src: local('Athelas Bold'), url('../fonts/Athelas-Bold.woff') format('woff')

@font-face
    font-family: 'Athelas'
    font-style: italic
    font-weight: bold
    src: local('Athelas Bold Italic'), url('../fonts/Athelas-BoldItalic.woff') format('woff')

    
$dark-blue: #030C1C
$mid-grey: #989898

$page-margin: 10vw

@mixin phone
  @media screen and ( max-width: 899px )
    @content

@mixin desktop
  @media screen and ( min-width: 900px )
    @content 

@mixin input-style
    border: 1px solid white
    width: 100%
    background-color: $dark-blue
    box-sizing: border-box
    margin-bottom: 10px

    @include phone
        padding-left: 0.5 * $page-margin

    @include desktop
        padding-left: 0.3 * $page-margin

body
    margin: 0
    background-color: $dark-blue
    color: white
    font-family: Athelas, sans-serif
    overflow-x: hidden

    @include desktop
        font-size: 20px

.call
    padding: 0 20px 0 2px
    text-transform: uppercase
    border-bottom: 1px solid white
    margin-bottom: 1.5 * $page-margin

    @include phone
        font-size: 8px

    @include desktop
        font-size: 14px

@include desktop
    .mobile
        display: none

header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    height: 80px
    width: 100vw
    padding: 30px $page-margin   

    .navegacao
        display: flex
        flex-direction: row
        align-items: center
        width: 100%
        justify-content: space-between

    .main-menu 
        @include phone
            display: none
            position: fixed
            top: 0
            right: -70%
            height: 100vh
            width: 70%
            box-sizing: border-box
            box-shadow: -3px 0 12px #00000026
            overflow-y: scroll
            overflow-x: visible
            background-color: #FFFFFF
            transition: right 0.3s ease, box-shadow 0.3s ease
            z-index: 1     
            padding: 30px $page-margin

            &:target      
                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: flex-end
                right: 0
                outline: none

            li:first-child
                padding-top: 3rem

        ul
            list-style: none

            @include desktop
                margin: 0

        li
            @include phone
                padding: 2rem 0 1rem 2rem    

            @include desktop
                float: left
                padding-left: 3rem
        
        a
            text-decoration: none
            float: right

            @include phone
                color: #505050

            @include desktop
                color: whitesmoke

        li a
            font-size: 0.9rem

    @include desktop
        .menu-toggle, .menu-close
            display: none

section
    @include phone
        padding: $page-margin

    @include desktop
        padding: (0.5 * $page-margin) $page-margin

#inicio
    padding: 0

    p
        color: #FFB146
        margin-top: 10px

    h1
        margin-bottom: 0

    .slideshow-container
        position: relative

    .dots-container
        position: absolute
        top: 0
        text-align: center
    
    .mySlides
        display: none
        overflow: hidden
        height: 80vh

        img
            @include phone
                height: 80vh            

            @include desktop
                width: 100vw

    .prev, .next
        cursor: pointer
        position: absolute
        top: 50%
        width: 30px
        height: 30px
        text-align: center
        line-height: 30px        
        color: white
        font-weight: bold
        font-size: 10px
        transition: 0.6s ease
        user-select: none
        background-color: white
        color: #39383C
        border-radius: 50%
        box-shadow: 0 0 10px $dark-blue

    /* Position the "next button" to the right */
    .next 
        right: $page-margin

    .prev
        left: $page-margin
            
    /* Caption text */
    .text
        background-image: linear-gradient(to bottom, rgba($dark-blue, 0), $dark-blue)
        color: #f2f2f2
        position: absolute
        bottom: 0
        padding-bottom: 40px
        width: 100%
        text-align: center

        @include phone
            font-size: 15px

        @include desktop
            font-size: 18px

    /* Number text (1/3 etc) */
    .numbertext
        color: #f2f2f2
        font-size: 12px
        padding: 8px 12px
        position: absolute
        top: 0

    /* The dots/bullets/indicators */
    .dot
        cursor: pointer
        height: 15px
        width: 15px
        margin: 0 2px
        background-color: #bbb
        border-radius: 50%
        display: inline-block
        transition: background-color 0.6s ease

    .active, .dot:hover
        background-color: #717171

    /* Fading animation */
    .fade
        -webkit-animation-name: fade
        -webkit-animation-duration: 1.5s
        animation-name: fade
        animation-duration: 1.5s

    @keyframes fade
        from 
            opacity: .4
        to 
            opacity: 1

#sobre
    display: flex
    flex-direction: row
    align-items: center
    height: 58vh

    .metade
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        width: 50%
        height: 100%

    .metade:first-child
        justify-content: space-between

    h1
        margin: 0

    @include phone
        p
            font-size: 12px

    @include desktop
        p
            line-height: 2rem

        .call
            margin-bottom: 0

    img
        @include phone
            width: 48vw
            margin-left: 4vw
        
        @include desktop
            width: 100%

#areas
    background-color: white   

    @include desktop
        .areas-container
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center

    h1
        color: $dark-blue

    h2
        color: $dark-blue
        margin-bottom: 0

        @include desktop
            font-size: 22px

    .area
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 180px
        box-sizing: border-box

        @include phone
            width: 100%

        @include desktop
            width: 24%

    .area + .area
        @include phone
            margin-top: 10px    
    
    img
        border: none
        width: 70px

#contato
    @include desktop       
        display: flex
        flex-direction: row
        align-items: center
        height: 58vh

        .metade
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            width: 50%
            height: 100%

        .metade:first-child
            justify-content: space-between
        
    input
        @include input-style
        height: 40px
        color: white

    textarea
        @include input-style
        height: 160px
        padding-top: 15px
        color: white

    input::placeholder, textarea::placeholder
        color: white

    input[type="submit"]
        background-color: white
        color: $dark-blue
        text-align: left

    @include desktop
        form
            width: 60%
            display: flex
            flex-direction: column
            align-items: center

iframe
    width: 100%
    border: none

    @include phone
        height: 30vh

    @include desktop
        height: 60vh

footer
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    height: 80px
    width: 100vw
    padding: 30px $page-margin

h1
    text-transform: uppercase

