/*
    @font-face
        font-family: 'Athelas'
        font-style: normal
        font-weight: normal
        src: local('Athelas Regular'), url('../fonts/Athelas-Regular.woff') format('woff')

    @font-face
        font-family: 'Athelas'
        font-style: italic
        font-weight: normal
        src: local('Athelas Italic'), url('../fonts/Athelas-Italic.woff') format('woff')

    @font-face
        font-family: 'Athelas'
        font-style: normal
        font-weight: bold
        src: local('Athelas Bold'), url('../fonts/Athelas-Bold.woff') format('woff')

    @font-face
        font-family: 'Athelas'
        font-style: italic
        font-weight: bold
        src: local('Athelas Bold Italic'), url('../fonts/Athelas-BoldItalic.woff') format('woff')

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans&display=swap')
    
$dark-blue: #030C1C
$mid-grey: #989898

$page-margin: 10vw

@mixin phone
  @media screen and ( max-width: 899px )
    @content

@mixin desktop
  @media screen and ( min-width: 900px )
    @content 

@mixin input-style
    border: 1px solid white
    width: 100%
    background-color: $dark-blue
    box-sizing: border-box
    margin-bottom: 10px

    @include phone
        padding-left: 0.5 * $page-margin

    @include desktop
        padding-left: 0.3 * $page-margin

body
    margin: 0
    background-color: $dark-blue
    color: white
    font-family: 'Work Sans', sans-serif
    overflow-x: hidden

    @include desktop
        font-size: 20px

h1, h2, h3, h4, h5, h6
    font-family: 'Crimson Text', serif

.call
    padding: 0 20px 0 2px
    text-transform: uppercase
    border-bottom: 1px solid white
    margin-bottom: 1.5 * $page-margin

    @include phone
        font-size: 8px

    @include desktop
        font-size: 14px

@include desktop
    .mobile
        display: none

header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    height: 80px
    width: 100vw
    padding: 30px $page-margin   

    .navegacao
        display: flex
        flex-direction: row
        align-items: center
        width: 100%
        justify-content: space-between

    .main-menu 
        @include phone
            display: none
            position: fixed
            top: 0
            right: -70%
            height: 100vh
            width: 70%
            box-sizing: border-box
            box-shadow: -3px 0 12px #00000026
            overflow-y: scroll
            overflow-x: visible
            background-color: #FFFFFF
            transition: right 0.3s ease, box-shadow 0.3s ease
            z-index: 1     
            padding: 30px $page-margin

            &:target      
                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: flex-end
                right: 0
                outline: none

            li:first-child
                padding-top: 3rem

        ul
            list-style: none

            @include desktop
                margin: 0

        li
            @include phone
                padding: 2rem 0 1rem 2rem    

            @include desktop
                float: left
                padding-left: 3rem
        
        a
            text-decoration: none
            float: right

            @include phone
                color: #505050

            @include desktop
                color: whitesmoke

        li a
            font-size: 0.9rem

    @include desktop
        .menu-toggle, .menu-close
            display: none

section, main
    @include phone
        padding: $page-margin

    @include desktop
        padding: (0.5 * $page-margin) $page-margin

main.no-padding
    padding: 0

main
    h1
        @include phone
            text-align: center

    img
        width: 100vw
        margin-left: -$page-margin


    p
        text-align: justify

    &.no-padding h1
        @include desktop
            padding: 20px  

    .equipe
        width: 100%
        transition: .1s ease-in-out
        display: flex
        flex-direction: row
        flex-wrap: wrap
      

        .membro
            width: 100%
            opacity: 0.5
            transition: .1s ease-in-out
            margin-top: -4px

            @include desktop
                width: 33.333% 
                margin-top: -5px

            img
                width: 100%
                height: 300px
                object-fit: cover
                margin: 0

            .info
                display: flex
                flex-direction: column
                padding: 20px
                opacity: 1
                transition: .3s ease-in-out

            &:hover
                opacity: 1
                transition: .1s ease-in-out

        .membro.collapsed .info
            max-height: 0px
            padding: 0
            transition: .3s ease-in-out
            text-overflow: ellipsis

            p
                width: 100%
                
            h2, p 
                overflow: auto
                text-overflow: ellp

            

#inicio
    padding: 0

    p
        color: #FFB146
        margin-top: 10px

    h1
        margin-bottom: 0
    a
        text-decoration: none
        color: white
        
    .slideshow-container
        position: relative

    .dots-container
        position: absolute
        top: 0
        text-align: center
    
    .mySlides
        display: none
        overflow: hidden
        height: 80vh

        img
            @include phone
                height: 80vh            

            @include desktop
                width: 100vw

    .prev, .next
        cursor: pointer
        position: absolute
        top: 50%
        width: 30px
        height: 30px
        text-align: center
        line-height: 30px        
        color: white
        font-weight: bold
        font-size: 10px
        transition: 0.6s ease
        user-select: none
        background-color: white
        color: #39383C
        border-radius: 50%
        box-shadow: 0 0 10px $dark-blue

    /* Position the "next button" to the right */
    .next 
        right: $page-margin

    .prev
        left: $page-margin
            
    /* Caption text */
    .text
        background-image: linear-gradient(to bottom, rgba($dark-blue, 0), $dark-blue)
        color: #f2f2f2
        position: absolute
        bottom: 0
        padding-bottom: 40px
        width: 100%
        text-align: center

        @include phone
            font-size: 15px

        @include desktop
            font-size: 18px

    /* Number text (1/3 etc) */
    .numbertext
        color: #f2f2f2
        font-size: 12px
        padding: 8px 12px
        position: absolute
        top: 0

    /* The dots/bullets/indicators */
    .dot
        cursor: pointer
        height: 15px
        width: 15px
        margin: 0 2px
        background-color: #bbb
        border-radius: 50%
        display: inline-block
        transition: background-color 0.6s ease

    .active, .dot:hover
        background-color: #717171

    /* Fading animation */
    .fade
        -webkit-animation-name: fade
        -webkit-animation-duration: 1.5s
        animation-name: fade
        animation-duration: 1.5s

    @keyframes fade
        from 
            opacity: .4
        to 
            opacity: 1

#sobre
    display: flex
    flex-direction: column
    justify-content: space-between
    
    .container
        display: flex        
        justify-content: space-between
        align-items: center
        
        @include phone
            flex-direction: column

        @include desktop
            flex-direction: row        

            div
                padding: 0 30px

    h1
        margin: 0

    h3
        margin-bottom: 0

    a
        text-decoration: none
        color: white

    p
        text-align: justify
        margin-top: 0
    
    @include phone
        p
            font-size: 12px

    @include desktop
        p
            line-height: 2rem
        .call
            margin-bottom: 0

    img
        @include phone
            width: 48vw
            margin-left: 4vw
        
        @include desktop
            width: 100%

#areas
    background-color: white   
    padding-top: 40px

    .areas-container
        display: flex
        align-items: center

        @include phone
            flex-direction: column

        @include desktop          
            flex-direction: row
            justify-content: space-between            

    h1
        color: $dark-blue
        margin-bottom: 40px

    h2
        color: $dark-blue
        margin-bottom: 0

        @include desktop
            font-size: 22px

    .area
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 180px
        box-sizing: border-box
        box-shadow: 0 2.5px 10px -1px rgba($dark-blue, 0.25)
        transition: 0.3s        
        text-align: center
        border-radius: 5px

        img
            height: 50px

        &:hover
            margin: -5px 0 5px 0
            box-shadow: 0 20px 40px -5px rgba($dark-blue, 0.25)

        a.mais
            text-decoration: underline
            color: $dark-blue 
            font-size: 15px

        @include phone
            min-width: 80% 

        @include desktop
            min-width: 17%
            max-width: 17%     

    .area + .area
        @include phone
            margin-top: 10px  

        @include desktop
            margin-left: 10px 

    .modal
        // content wrapper full window size
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        // so we can click through it when transparent
        pointer-events: none
        // transparent
        opacity: 0
        
        // :target selects when href click is "#target-content"
        &:target
            // reenable clicking
            pointer-events: all
            // show that ish
            opacity: 1
            // sexy fade
            transition: opacity 200ms
        
        // the white centered content
        .modal-inner
            position: absolute
            display: block
            padding: 48px
            line-height: 1.8
            width: 70%
            top: 50%
            left: 50%
            transform: translateX(-50%) translateY(-50%)
            box-shadow: 0px 12px 24px rgba(0,0,0,0.2)
            border-radius: 10px            
            background: white            
            color: #34495E

            h2
                margin-top: 0
            
            code
                font-weight: bold
        // the giant invisible close area (making a new target "#")
        a.close
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            background-color: #34495E
            opacity: 0.5
            transition: opacity 200ms

            &:hover
                opacity: 0.4
        
    .container
        padding: 2px 16px

    img
        border: none
        width: 70px

#contato
    .metade
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center

        div
            display: flex
            flex-direction: row
            align-items: center
            margin: 5px 0

            i
                display: flex
                flex-direction: row
                text-align: center
                justify-content: center
                min-width: 30px
                font-size: 1.2rem
                margin: 0 5px 0 0

        @include phone
            .metade + .metade
                margin-top: 40px

    @include desktop
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        height: 58vh

        .metade
            width: 60%
            height: 100%

        .metade + .metade
            width: 30%
        
    input
        @include input-style
        height: 40px
        color: white

    textarea
        @include input-style
        height: 160px
        padding-top: 15px
        color: white

    input::placeholder, textarea::placeholder
        color: white

    input[type="submit"]
        background-color: white
        color: $dark-blue
        text-align: left

        @include desktop
            width: 30%


    @include desktop
        form
            width: 100%
            display: flex
            flex-direction: column
            align-items: flex-start

iframe
    width: 100%
    border: none

    @include phone
        height: 30vh

    @include desktop
        height: 60vh

footer
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    box-sizing: border-box
    height: 80px
    width: 100vw
    padding: 30px $page-margin
    
    p 
        font-size: 15px
        
        a
            text-decoration: underline
            color: white   

h1
    text-transform: uppercase

