doctype html
html
    head
        title Escritório de Advocacia Professor Diógenes da Cunha Lima - Natal/RN
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="../css/style.css")
        link(rel="shortcut icon", type="image/x-icon" href="../img/logo.ico")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src="../js/team.js")

body
    include includes/header.pug

    main.no-padding
        h1 Nossa Equipe
        .equipe
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.

    include includes/footer.pug