doctype html
html
    head
        title Escritório de Advocacia Professor Diógenes da Cunha Lima - Natal/RN
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="../css/style.css")
        link(rel="shortcut icon", type="image/x-icon" href="../img/logo.ico")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src="../js/team.js")

body
    include includes/header.pug

    main.no-padding
        h1 Nossa Equipe
        .equipe
            .membro.collapsed
                img(src="../img/equipe/diogenes.jpg")
                .info
                    h2 Diógenes da Cunha Lima
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/equipe/olindina.jpg")
                .info
                    h2 Olindina Maria da Cunha Lima Freire
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/eduardo.jpg")
                .info
                    h2 Diógenes da Cunha Lima Neto
                    p.
                        Quisque varius purus orci. In tincidunt eros vitae urna volutpat, a tristique metus luctus.
                        Vivamus justo orci, malesuada et accumsan vel, ultrices vitae dolor.
                        Quisque hendrerit metus bibendum porttitor tristique. Morbi nibh leo, venenatis ut feugiat vitae, faucibus id eros.
                        Sed iaculis cursus neque non ultricies. Duis maximus efficitur tortor, id gravida risus.
            .membro.collapsed
                img(src="../img/jemima.JPG")
                .info
                    h2 Leila Tinoco da Cunha Lima Almeida
                    p
                        | Graduação em Direito pela Universidade Federal do Rio Grande do Norte
                        br
                        | Pós Graduação em Direito Público pela UFRN
                        br
                        | Especialista em Licitações
                        br
                        | Advogada e Procuradora do Estado do Rio Grande do Norte
                        br
            .membro.collapsed
                img(src="../img/equipe/rodrigo.jpeg")
                .info
                    h2 Rodrigo da Cunha Lima Freire
                    p
                        | Graduação em Direito pela Universidade Federal do Rio Grande do Norte
                        br
                        | Mestre e Doutor em Direito Processual Civil pela Pontifícia Universidade Católica de
                        | São Paulo (PUC/SP)
                        br
                        | Professor da Universidade Presbiteriana Mackenzie
                        br
                        | Professor do Complexo de Ensino Renato Saraiva (CERS)
                        br
                        | Coordenador da Especialização e Professor da Escola Superior de Advocacia (ESA/SP)
                        br
                        | Conferencista e autor de diversos livros na área de Processo Civil
                        br
                        | Secretário Adjunto e membro do IBDP - Instituto Brasileiro de Direito Processual
                        br
                        | Membro da ABDPro - Associação Brasileira de Direito Processual
            .membro.collapsed
                img(src="../img/equipe/natalia.jpeg")
                .info
                    h2 Natália Galvão da Cunha Lima Freire
                    p
                        | Graduação em Direito pela Universidade Federal do Rio Grande do Norte
                        br
                        | Extensão em Direito Penal Econômico pela Escola Paulista da Magistratura (EPM)
                        br
                        | Pesquisadora dos grupos “Direito Criminal como corpo normativo construtivo do
                        | sistema de proteção dos direitos e garantias fundamentais”, vinculado à Universidade
                        | Federal do Rio Grande do Norte, com trabalho sobre a construção da linguagem na
                        | aplicação da pena, e “Criminalidade violenta e diretrizes para uma política de segurança
                        | pública no Estado do Rio Grande do Norte”, parceria entre a Universidade Federal do
                        | Rio Grande do Norte e o Governo do Estado.
                        br
                        | Atuou como pesquisadora (2016-2019) no grupo "Para além das escolhas de
                        | determinação judicial de pena: entre o dogmático e o empírico";, vinculado à
                        | Universidade Federal do Rio Grande do Norte, realizando análise, quantitativa e
                        | qualitativa, da aplicação da pena nas sentenças criminais proferidas na comarca de
                        | Natal/RN, entre os anos de 2010 e 2016.
                        br
                        | Atuou como agente de extensão no grupo Motyrum Penitenciário, vinculado à
                        | Universidade Federal do Rio Grande do Norte, ministrando aulas com temáticas
                        | pertinentes à área de Direitos Humanos para pessoas em situação de cárcere.
                        br
                        | Young Penalist no Grupo Brasileiro da Association Internationale de Droit Pénal”
            .membro.collapsed
                img(src="../img/jemima.JPG")
                .info
                    h2 Alana Klayne Torquato Câmara de Oliveira
                    p
                        | Advogada inscrita na OAB/RN sob o nº 6.746
                        br
                        | Graduação em Direito pela Universidade Potiguar.
                        br
                        | Pós-graduanda em Direito Penal Econômico pela PUC-Minas, com foco em Direito
                        | Empresarial e suas nuances.
                        br
                        | Atuação também com ênfase nas áreas Cível, Relação de Consumo, Família e Sucessões.
            .membro.collapsed
                img(src="../img/eduardo.jpg")
                .info
                    h2 Augusto Felipe Araújo Pinho
                    p
                        | Advogado inscrito na OAB/RN sob o nº 8676
                        br                       
                        | Graduação em Direito pela Universidade Federal do Ceará
                        br
                        | Especialização em Processo Civil pela Universidade Presbiteriana Mackenzie
                        br
                        | Atuação nas áreas de Contratos e Direito Imobiliário.
            .membro.collapsed
                img(src="../img/jemima.JPG")
                .info
                    h2 Glícia Medeiros Takahashi
                    p
                        | Advogada inscrita na OAB/RN sob nº 4.838.
                        br
                        | Graduação em Direito pela Universidade Potiguar.
                        br
                        | Atuante nas áreas Cível, Relação de Consumo e Previdenciário.

    include includes/footer.pug