doctype html
html
    head
        title Escritório de Advocacia Professor Diógenes da Cunha Lima - Natal/RN
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="../css/style.css")
        link(rel="shortcut icon", type="image/x-icon" href="../img/logo.ico")

body
    include includes/header.pug

    main
        h1 Nossa História
        img(src="../img/ambiente/ambienteCorredor.jpg")
        p.
                Ampliado recentemente, renovado, com um quadro
            expressivo de bons profissionais, o Escritório de Advocacia Professor Diogens da Cunha Lima
            funciona na Avenida Hermes da Fonseca, nº 957, no Tirol, há mais de 20 anos.
            O recente projeto de reforma leva a assinatura da arquiteta Kalina Régia e a construção foi
            conduzida pelo engenheiro Guilherme Barreto. O  advogado, cujo nome é também o de seu escritório,
            atuou profissionalmente em sete sedes ao longo da capital potiguar. 
                       
        p.
                Tudo começou ainda nos anos 60, no Alecrim, na Avenida Presidente Quaresma,
            em cima do Armazém Triunfo, no Edifício São José. Foi transferido para um prédio próprio,
            na Ulisses Calda. Algum tempo depois, foi a hora e a vez do escritório funcionar em um
            prédio vizinho ao Tribunal de Justiça, adquirido e construído exatamente para essa finalidade.
            A quarta etapa aconteceu na Avenida Barão do Rio Branco, em duas salas, e, a seguir, na Rua
            Jundiaí, no Tirol. Por fim, enquanto se formava a sede do escritório atual, funcionou durante
            uns dois anos na Rua Mossoró, Petrópolis. Para matar a saudade, é possível ver ao lado as imagens das
            sete vidas do nosso escritório.


    include includes/footer.pug