doctype html
html
    head
        title Diógenes da Cunha Lima
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="../css/style.css")
    body
        header
            img.logo(src="../img/logo.png", alt="Logotipo do Escritório")
            img.menu(src="../img/menu.png", alt="Abrir menu")

        section#inicio

        section#sobre
            .metade
                h1
                    | Sobre
                    br
                    | nós
                p.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                a Nossa história           
            .metade
                img(src="../img/escritorio.png", alt="Escritório")

        section#areas
            h1 
                | Áreas de
                br
                | atuação
            each val in [1,2,3,4]
                .area
                    img.area-icon(src="../img/logo.png", alt="")
                    h2 Lorem Ipsum

        section#contato
            h1
                | Fale
                br
                | conosco
            form
                input(type="text" placeholder="Nome")
                input(type="email", placeholder="E-mail")
                textarea(placeholder="Mensagem", cols="30", rows="10")
                input(type="submit", value="Enviar")

        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6915.51224628771!2d-35.20085893158456!3d-5.794211887775996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b3001ba5232eeb%3A0xc6d2ce6d9f807733!2sEscrit%C3%B3rio%20Advocacia%20Professor%20Di%C3%B3genes%20Cunha%20Lima!5e0!3m2!1spt-BR!2sbr!4v1572312689972!5m2!1spt-BR!2sbr")

        footer
            img.logo(src="../img/logo.png", alt="Logotipo do Escritório")
            p Desenvolvido por Eduardo e Jemima