doctype html
html
    head
        title Diógenes da Cunha Lima
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="../css/style.css")
        link(rel="shortcut icon", type="image/x-icon" href="../img/logo.ico")


    body
        header
            .navegacao
                img.logo(src="../img/logo.png", alt="Logotipo do Escritório")
                a#main-menu-toggle.menu-toggle(href='#main-menu')
                    img.icon(src="../img/menu.png", alt="Abrir menu")
                nav#main-menu.main-menu
                    a.menu-close(href='#')
                        img.icon(src='../img/x-mark.png', alt='Fechar menu')
                    ul
                        li
                            a(href='#inicio') Início 
                        li
                            a(href='#nossa-historia') Nossa História  
                        li
                            a(href='#professor') O Professor            
                        li
                            a(href='#equipe') Equipe
                        li
                            a(href='#blog') Blog    

        section#inicio
            .slideshow-container
                .mySlides.fade
                    img(src="../img/ambiente/salaAtendimento1.jpg", alt="Imagens do escritório")
                    .text
                        h2 Escritório de Advocacia
                            br
                            | Diogenes da Cunha Lima
                        p
                            |Há mais de 60 anos
                            br
                            | lalaal...

                div.mySlides.fade
                    img(src="../img/ambiente/salaAtendimento2.jpg", alt="Imagens do escritório")
                    div.text
                        h1 Nossa História
                        p
                            | Conheça mais sobre o escritório
                            br
                            | lalaa
                        a.call Nossa História     

                div.mySlides.fade
                    img(src="../img/ambiente/salaReuniao.jpg", alt="Imagens do escritório")
                    div.text
                        h1 Equipe
                        p
                            | Nossa equipe é formada por 10 advogados
                            br
                            | prontos a te atender
                        a.call Equipe
                div.mySlides.fade
                    img(src="../img/professor.jpg", alt="Imagens do escritório")
                    div.text
                        h1 Professor Diogenes
                        p
                            | Conheça mais sobre a história do professor e poeta
                            br
                            | Professor Diogenes da Cunha Lima
                        a.call O professor

                a.prev(onclick="plusSlides(-1)") &#10094;
                a.next(onclick="plusSlides(1)") &#10095;

        section#sobre
            .metade
                h1
                    | Sobre 
                    br.mobile
                    | nós

                    h3 Missão
                    
                    p.
                        Assegurar com equilíbrio, a realização do Direito, garantindo, através de
                        profissionais éticos e competentes, a segurança da assistência continuada,
                        contribuindo, como advocacia de excelência, para que a justiça aconteça e 
                        prevaleça na sociedade.

                    h3 Visão
                    
                    p.
                        Ver o escritório como uma Instituição amada e respeitada no Estado. Nossos advogados são selecionados entre os melhores e procuram dar assistência jurídica a nível de  excelência. A cada dia um pouco mais.

                    h3 Valores

                    p.
                        São valores do Escritório o sentido e alcance das leis, doutrinas e 
                        jurisprudência; tratar o cliente com respeito e amizade, os Juízes e ao 
                        Ministério Público como parceiros no sentido de busca da Justiça; Fazer do “Pro Bono” um trabalho agradável e útil.

                a.call Nossa história           
            .metade
                img(src="../img/ambiente/recepcao.jpg", alt="Escritório")

        section#areas
            h1 
                | Áreas de 
                br.mobile
                | atuação
            .areas-container
                    .area.card#modal-btn
                        img.area-icon(src="../img/areasAtuacao/civil.png", alt="")
                        .container
                            h2 Direito Civil
                            a(href="#modal-btn") Saiba mais
                        div#my-modal.modal
                            .modal-content
                                .modal-header
                                    span.close &times;
                                    h2 Direito Civil
                                .modal-body
                                    p  O Direito Civil é uma das vertentes do Direito Privado cujo objetivo é determinar como as pessoas devem se relacionar e agir em sociedade, como por exemplo, o direito do nascituro, o casamento, a sucessão familiar por meio da herança e do legado, entre outros aspectos legais comuns as relações de uma sociedade civilizada.

                    .area.card#myBtn
                        img.area-icon(src="../img/areasAtuacao/criminal.svg", alt="")
                        .container
                            h2 Direito Criminal
                            a(href="#myBtn") Saiba mais

                    .area.card#myBtn
                        img.area-icon(src="../img/areasAtuacao/imobiliario.svg", alt="")
                        .container
                            h2 Direito Imobiliário
                            a(href="#myBtn") Saiba mais
                    
                    .area.card#myBtn
                        img.area-icon(src="../img/areasAtuacao/constitucional.png", alt="")
                        .container
                            h2 Direito Consumerista
                            a(href="#myBtn") Saiba mais

                    .area.card#myBtn
                        img.area-icon(src="../img/areasAtuacao/trabalhista.svg", alt="")
                        .container
                            h2 Direito Trabalhista
                            a(href="#myBtn") Saiba mais
                            

        section#contato
            .metade
                h1
                    | Fale 
                    br.mobile
                    | conosco
                form
                    input(type="text" placeholder="Nome")
                    input(type="email", placeholder="E-mail")
                    textarea(placeholder="Mensagem", cols="30", rows="10")
                    input(type="submit", value="Enviar")
            .metade
                p 
                    img(src="../img/localizacao-icon.png", alt="")      
                    |       Endereço:
                    br
                    br
                    | Av. Hermes da Fonseca, 957 - Tirol, Natal - RN, 59014-555
                    
                p    
                    img(src="../img/telefone-icon.png", alt="")
                    | Telefone: (84) 3216-2300
                    br
                    br
                    | Whatsapp: (84) 99407-4243

        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6915.51224628771!2d-35.20085893158456!3d-5.794211887775996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b3001ba5232eeb%3A0xc6d2ce6d9f807733!2sEscrit%C3%B3rio%20Advocacia%20Professor%20Di%C3%B3genes%20Cunha%20Lima!5e0!3m2!1spt-BR!2sbr!4v1572312689972!5m2!1spt-BR!2sbr")

        footer
            img.logo(src="../img/logo.png", alt="Logotipo do Escritório")
            p Desenvolvido por 
                a(href="https://edusrmt.github.io/")  Eduardo Sarmento 
                |  e 
                a(href="https://jemimad.github.io/")  Jemima Dias

        script(src="../js/carousel.js")
        script(src="../js/modal.js")