doctype html
html
    head
        title Diógenes da Cunha Lima
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="../css/style.css")
    body
        header
            .navegacao
                img.logo(src="../img/logo.png", alt="Logotipo do Escritório")
                a#main-menu-toggle.menu-toggle(href='#main-menu')
                    img.icon(src="../img/menu.png", alt="Abrir menu")
                nav#main-menu.main-menu
                    a.menu-close(href='#')
                        img.icon(src='../img/x-mark.png', alt='Fechar menu')
                    ul
                        li
                            a(href='#inicio') Início 
                        li
                            a(href='#nossa-historia') Nossa História  
                        li
                            a(href='#professor') O Professor            
                        li
                            a(href='#equipe') Equipe
                        li
                            a(href='#blog') Blog    

        section#inicio
            .slideshow-container
                .mySlides.fade
                    img(src="../img/slider-one.jpg", alt="Imagens do escritório")
                    .text
                        h1 Lorem Ipsum
                        p
                            | Dolor sit amet consectur et.
                            br
                            | Lorem ipsum dolor sit amet
                        a.call Link to action

                div.mySlides.fade
                    img(src="../img/slider-two.jpg", alt="Imagens do escritório")
                    div.text
                        h1 Lorem Ipsum
                        p
                            | Dolor sit amet consectur et.
                            br
                            | Lorem ipsum dolor sit amet
                        a.call Link to action     

                div.mySlides.fade
                    img(src="../img/slider-three.jpg", alt="Imagens do escritório")
                    div.text
                        h1 Lorem Ipsum
                        p
                            | Dolor sit amet consectur et.
                            br
                            | Lorem ipsum dolor sit amet
                        a.call Link to action

                a.prev(onclick="plusSlides(-1)") &#10094;
                a.next(onclick="plusSlides(1)") &#10095;

        section#sobre
            .metade
                h1
                    | Sobre 
                    br.mobile
                    | nós
                p.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet.
                a.call Nossa história           
            .metade
                img(src="../img/escritorio.png", alt="Escritório")

        section#areas
            h1 
                | Áreas de 
                br.mobile
                | atuação
            .areas-container
                    .area
                        img.area-icon(src="../img/administrativo.png", alt="")
                        h2 Administrativo
                    .area
                        img.area-icon(src="../img/civil.png", alt="")
                        h2 Civil
                    .area
                        img.area-icon(src="../img/criminal.png", alt="")
                        h2 Criminal
                    .area
                        img.area-icon(src="../img/constitucional.png", alt="")
                        h2 Constitucional

        section#contato
            .metade
                h1
                    | Fale 
                    br.mobile
                    | conosco
                form
                    input(type="text" placeholder="Nome")
                    input(type="email", placeholder="E-mail")
                    textarea(placeholder="Mensagem", cols="30", rows="10")
                    input(type="submit", value="Enviar")
            .metade
                img(src="../img/localizacao-icon.png", alt="")
                p Av. Hermes da Fonseca, 957 - Tirol, Natal - RN, 59014-555
                img(src="../img/telefone-icon.png", alt="")
                p (84) 3216-2300

        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6915.51224628771!2d-35.20085893158456!3d-5.794211887775996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b3001ba5232eeb%3A0xc6d2ce6d9f807733!2sEscrit%C3%B3rio%20Advocacia%20Professor%20Di%C3%B3genes%20Cunha%20Lima!5e0!3m2!1spt-BR!2sbr!4v1572312689972!5m2!1spt-BR!2sbr")

        footer
            img.logo(src="../img/logo.png", alt="Logotipo do Escritório")
            p Desenvolvido por Eduardo e Jemima

        script(src="../js/carousel.js")