doctype html
html
    head
        title Escritório de Advocacia Professor Diógenes da Cunha Lima - Natal/RN
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="../css/style.css")
        link(rel="shortcut icon", type="image/x-icon" href="../img/logo.ico")

body
    include includes/header.pug

    main
        h1 O Professor
        img(src="../img/equipe/diogenes.jpg")
        p.
            Um advogado que estuda e que aprende alguma coisa todos os dias. E, entende que todo
            saber serve à aplicação da Justiça.
        p.
            Diógenes da Cunha Lima - DCL: suas iniciais representam, em romano, 650, que se traduzem 
            em seiscentos e cinquenta anos intensamente vividos e por viver. Assim, resolvi descrever sobre sua vida
            em fases de cinquenta anos cada uma, demonstrando a longetividade e excentricidade deste que vive para fazer
            felizes brasileiros e brasileiras. 


    include includes/footer.pug