doctype html
html
    head
        title Escritório de Advocacia Professor Diógenes da Cunha Lima - Natal/RN
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", href="../css/style.css")
        link(rel="shortcut icon", type="image/x-icon" href="../img/logo.ico")

body
    include includes/header.pug

    main
        h1 O Professor
        img(src="../img/professor.jpg")
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia neque quis dictum dapibus.
            Cras tristique eros a massa sodales fringilla. Quisque mattis consectetur lorem, eu lacinia neque lacinia a.
            Vestibulum iaculis, ex sed egestas pretium, risus dolor ultricies sapien, ac efficitur nisl tellus vel odio.
            Curabitur vel tellus et felis feugiat eleifend sed vel nisi. Praesent maximus id mauris et mollis.
            Mauris commodo facilisis metus at hendrerit. Aliquam finibus lacus erat, vitae laoreet sapien convallis sed.
            Fusce laoreet arcu vel cursus feugiat. Curabitur lectus quam, tempus et metus nec, placerat facilisis metus.
        p.
            Aenean nec iaculis risus. Cras porttitor, nulla nec lacinia tempus, purus ipsum fringilla nisi,
            non cursus nibh tortor ac orci. Mauris a risus aliquam, venenatis mi nec, egestas mi.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Sed mollis tortor et suscipit interdum. Vestibulum eleifend, ante eu tristique pulvinar, est urna blandit sem,
            non consequat metus dui nec felis. Etiam id vulputate ante. Nulla facilisi.
            Donec rhoncus cursus nulla sit ametconsectetur.
        p.
            Mauris enim tellus, blandit nec sodales eget, congue et leo. Cras posuere posuere sem sit amet laoreet.
            Integer rutrum, felis ullamcorper consequat gravida, justo nibh blandit tortor, a tempus neque turpis a mi.
            Nulla nec massa in lorem congue iaculis. Vivamus odio nisl, dapibus non dui eget, interdum egestas eros.
            Sed suscipit, odio vel feugiat dapibus, mauris lacus hendrerit mi, vel molestie erat velit a eros.
            Pellentesque rutrum commodo mauris in sodales. Curabitur sodales ornare urna nec condimentum.
            Cras eu hendrerit augue. Nam vestibulum tellus id accumsan cursus.

    include includes/footer.pug