footer
    img.logo(src="../img/logo.png", alt="Logotipo do Escritório")
    p Desenvolvido por 
        a(href="https://edusrmt.github.io/")  Eduardo Sarmento
        |  e 
        a(href="https://jemimad.github.io/")  Jemima Dias