header
    .navegacao
        a(href="./index.html")
            img.logo(src="../img/logo.png", alt="Logotipo do Escritório")
        a#main-menu-toggle.menu-toggle(href='#main-menu')
            img.icon(src="../img/menu.png", alt="Abrir menu")
        nav#main-menu.main-menu
            a.menu-close(href='#')
                img.icon(src='../img/x-mark.png', alt='Fechar menu')
            ul
                li
                    a(href='./index.html') Início 
                li
                    a(href='./historia.html') Nossa História  
                li
                    a(href='./professor.html') O Professor            
                li
                    a(href='./equipe.html') Equipe